@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

/* --------------------------------------------------------------------------*/

@font-face {
  font-family: 'neon';
  src: url('../fonts/others/neon.ttf') format('truetype');
}

.logo1 {
  /*color: #800080;*/
  font-weight: normal;
}

.logo2 {
  font-family: 'neon';
  font-size: 175%;
  color: #a4a4a4;
  text-transform: lowercase;
  font-weight: normal;
}

.logo3 {
  font-family: 'neon';
  font-size: 175%;
  /*color: #800080;*/
  text-transform: lowercase;
  font-weight: normal;
}

.logo4 {
  /*color: #800080;*/
  font-weight: normal;
  /*vertical-align: text-top;*/
}

.logo5 {
  font-family: 'neon';
  font-size: 175%;
  color: #a4a4a4;
  /*text-transform: uppercase;*/
  font-weight: normal;
}

.logo6 {
  font-family: 'neon';
  font-size: 175%;
  /*color: #800080;*/
  /*text-transform: uppercase;*/
  font-weight: normal;
}

.stamp1 {
  font-family: 'boon';
  font-size: 120%;
  color: #FFFFFF;
  letter-spacing: 0.1rem;
  /*text-transform: uppercase;*/
  /*background: #FFFFFF;*/
  margin-bottom: 0;
}

.stamp2 {
  font-family: 'ubuntu';
  font-size: 120%;
  color: #FFFFFF;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  /*background: #FFFFFF;*/
}
