---
layout: main-en
title: PE BINARY CO., LTD. &middot; A mobile-specialist market research company.
homepage: true
section: null
---

<section class="intro">
  <img src="{{ "/assets/img/1.jpg" | prepend: site.baseurl }}" class="img-responsive center-block">
  <div class="intro-text">
    <h2>We only need days to deliver you the consumer insights</h2>
    <p class="lead">As the world now changes very quickly so waiting for months to get basic consumer insights is no longer acceptable. We can deliver you survey results within days.</p>
  </div>
</section>

<br><br><br>

{% include 1-home/whoweare.html %}

<br>

{% include 1-home/slideshow.html %}

<br>

{% include 4-clients/why-clients.html %}

<br>

{% include 3-members/why-members.html %}
