---
layout: default
title: Home
navigation_weight: 1
---

{% include intro.html %}

<section>
  <img src="/images/1.jpg" class="img-responsive center-block">
  <h1>{% include logo.html %}</h1>
  <p>A mobile research company located in Thailand.</p>
  <a href="#down" class="btn btn-circle page-scroll"><i class="pe-angle-double-down animated"></i></a>
</section>

<div class="container">

  <h1>Welcome</h1>

  <hr>

  <div class="container">

    <div class="jumbotron">

      <a href="#down"></a>
      <h3>Mobile</h3>
      <p>xxx</p>

    </div>

  </div>

  <hr>

  {% include why.html %}

  <hr>

  {% include map.html %}

  <hr>

  {% include stamp.html %}

  <hr>

</div>
