.aboutus
  color: inherit

  a
    color: $blue
    text-decoration: underline

  a.except1
    color: inherit
    text-decoration: none

  a.except2
    color: $blue
    text-decoration: underline

.viewoption

  a
    color: inherit
    text-decoration: none

.modal-link
  cursor: pointer

.modal-title

.modal-footer
  padding: 10px
