.blog-content

  .post-title
    padding-bottom: 10px
    color: inherit
    a
      color: inherit
      &:hover
        color: $darkindigo

  li.checkbox
    list-style-type: none
    margin: 0px 0px 0px -10px
    line-height: 1.2

  li.checkbox > input[type="checkbox"] > .input-label:before
    font-family: "pe"
    content: "\f096"
    display: inline-block
    margin-right: 5px

  li.checkbox > input[type="checkbox"]:checked + .input-label
    text-decoration: line-through
    color: $lightgrey

  li.checkbox > input[type="checkbox"]:checked > .input-label:before
    content: "\f046"

  .post-meta
    color: $lightgrey
    font-size: 0.8rem
    padding: 9px 14px
    //margin-bottom: 14px
    background-color: mintcream
    border: 1px solid $silver
    border-radius: 4px

    a
      color: $lightgrey
      text-decoration: underline
      &:hover
        color: $darkindigo

    .post-icon
      color: $darkgreen
      text-shadow: 0 1px 1px $silver

  .post-excerpt
    a
      color: $indigo
      &:hover
        color: $orange

  .blog-publisher
    display: none

  .blog-back
    padding-top: 30px
    text-align: right

.blog-menu

  section.blogrightmenu
    padding-top: 3px
    padding-bottom: 0px

  .blog-highlights

    q
      color: $plum
      font-family: "snippet"
      font-size: 1.0rem

    ul
      list-style-type: none

      li::before
        font-family: "pe"
        content: "\f101"
        display: inline-block
        margin: auto 5px auto -35px

      li > a
        color: $indigo
        text-decoration: none
        &:hover
          color: $orange

  .blog-quote-item
    width: 100%
    padding: 20px
    margin: 30px auto 0px auto
    font-size: 0.9rem
    color: inherit
    border: 1px solid $grey
    border-radius: 4px
    box-shadow: 0 2px 5px $silver
    -webkit-transition: border-color 0.1s ease-in-out, box-shadow 0.1s ease-in-out
    transition: border-color 0.1s ease-in-out, box-shadow 0.1s ease-in-out

    &:hover
      text-decoration: none
      border-color: $grey
      box-shadow: 0px 5px 5px $lightgrey

  .blog-quote-item > blockquote
    margin: 0px
    padding: 0px
    font-family: "snippet"
    font-size: 1.2rem
    line-height: 1.4
    border: none

  .blog-quote
    margin: 0 auto
    color: $plum

    &::before
      display: table
      content: ""

    &::after
      display: table
      clear: both
      content: ""

  .blog-tags
    font-size: 0.75rem

  .list-group-item
    padding: 5px 15px
    width: 100%
    //background-color: $silver

  a.list-group-item, button.list-group-item
    color: $grey

  // a.list-group-item .list-group-item-heading, button.list-group-item .list-group-item-heading
  //   color: $darkgrey

  a.list-group-item
    &:hover, &:focus
      text-decoration: none
      color: $grey
      background-color: $yellow

  button.list-group-item
    &:hover, &:focus
      text-decoration: none
      color: $grey
      background-color: $yellow


.blog-pagination
  font-size: 85%
  display: inline-block
  margin-top: 30px

  li
    display: inline

    a
      position: relative
      padding: 6px 12px
      text-decoration: none
      color: $lightgrey
      background-color: $white
      border: 1px dotted $silver
      margin: 0 1px
      border-radius: 4px

      &:hover,
      &:focus
        z-index: 2
        border: 1px solid $lightgrey

  .arrow >
    a
      z-index: 3
      color: $silver
      background-color: transparent
      cursor: default
      border: none

      &:hover,
      &:focus
        z-index: 3
        color: $lightgrey
        border: none
        cursor: default

  .active >
    a
      z-index: 3
      color: $white
      background-color: $lightgrey
      cursor: default
      border: 1px solid $lightgrey

      &:hover,
      &:focus
        z-index: 3
        color: $white
        border: 1px solid $grey
        cursor: default

  .disabled >
    a
      color: $lightgrey
      background-color: $white
      cursor: not-allowed

      &:hover,
      &:focus
        color: $lightgrey
        background-color: $white
        cursor: not-allowed

.blog-button
  font-size: 0.6rem
  color: $indigo
  background-color: transparent
  border: 1px solid $indigo
  text-align: center
  letter-spacing: 0.1rem
  text-transform: uppercase
  text-decoration: none
  display: inline-block
  height: 30px
  line-height: 30px
  padding: 0 15px
  white-space: nowrap
  border-radius: 4px
  cursor: pointer
  box-sizing: border-box
  -webkit-transition: all 0.15s ease-out 0s
  transition: all 0.15s ease-out 0s

  &:hover,
  &:active,
  &:focus
    color: $white
    background-color: $indigo
    border: 1px solid $indigo
    border-color: transparent
    outline: 0
    text-decoration: none

.blog-button-x
  font-size: 0.6rem
  color: $white
  background-color: $indigo
  border: 1px solid $indigo
  text-align: center
  letter-spacing: 0.1rem
  text-transform: uppercase
  text-decoration: none
  display: inline-block
  height: 30px
  line-height: 30px
  padding: 0 15px
  white-space: nowrap
  border-radius: 4px
  cursor: pointer
  box-sizing: border-box
  -webkit-transition: all 0.15s ease-out 0s
  transition: all 0.15s ease-out 0s

  &:hover,
  &:active,
  &:focus
    color: $indigo
    background-color: transparent
    border: 1px solid $indigo
    outline: 0
    text-decoration: none

div#search-container
  input[type="text"]
    font-family: "pe"

ul#search-results
  list-style: none
  margin: 1px auto 20px auto
  padding-left: 50px
  display: block
  li
    list-style: none
    font-weight: normal
  li > a
    color: $grey
    &:hover, &:focus
      color: $orange
      background-color: transparent
  li:before
    content: "\00BB\00a0"
    //padding: 0 5px
    color: inherit
