\:root
  font-size: 16px

body
  background-color: $white
  font-family: 'ubuntu'
  color: $darkgrey
  line-height: 1.6
  -webkit-font-smoothing: antialiased
  -webkit-text-size-adjust: 100%

a
  color: $blue
  //color: inherit
  text-decoration: none
  outline: 0

  //&:hover, &:focus
  &:hover
    text-decoration: none
    color: lighten($blue, 20%)
    //color: $blue

main
  // position: relative
  // background: $white
  // margin-bottom: 350px
  // overflow: hidden

section
  padding: 30px 0
  margin: 0 auto

p
  margin: 0 0 20px 0

em
  font-style: italic

strong
  font-weight: bold

hr
  height: 0
  //margin: 20px 0
  overflow: hidden
  background: transparent
  border: 0
  border-bottom: 1px solid $silver

hr:before
  display: table
  content: ""

hr:after
  display: table
  clear: both
  content: ""

del
  color: $grey

.icon-rss
  color: #ee802f

.black
  color: $black

.silver
  color: $silver

.grey
  color: $grey

.darkgrey
  color: $darkgrey

.anchorjs-link
  color: #FF5231
  text-decoration: none

  &:hover
    color: $blue
    text-decoration: none

*:hover > .anchorjs-link
  transition: color .25s linear
