.intro
  position: relative
  padding-top: 0
  margin: 0 auto
  //margin-bottom: 60px
  //width: auto
  //height: auto
  overflow: hidden
  //margin: auto
  text-align: center

  .intro-text
    position: absolute
    bottom: 40%
    left: 0%
    right: 0%
    padding: 0px 100px
    z-index: 1
    margin: 0
    color: $black
    background: rgba(255, 255, 255, 0.65)

  .intro-text p
    //margin-bottom: 20px
    font-size: 1.2rem
    line-height: 1.4

@media (max-width: 768px)

  .intro

    .intro-text
      bottom: 20%

    .intro-text p
      font-size: 1.0rem
