.logo1
  font-weight: normal
  letter-spacing: normal
  // color: #800080

.logo2
  font-family: 'neon'
  // font-size: 6.5rem
  font-size: 200%
  color: $grey
  text-transform: lowercase
  font-weight: normal
  letter-spacing: normal

.logo3
  font-family: 'neon'
  // font-size: 6.5rem
  font-size: 200%
  // color: #800080
  text-transform: lowercase
  font-weight: normal
  letter-spacing: normal
