<h4><i class="pe-quote-left"></i> Highlights <i class="pe-quote-right"></i></h4>
<p>Some key highlighted blogs providing useful information to clients / members</p>
<p>
  <i class="pe-angle-double-right"></i> <a href="{{ "/blog/2016/07/13/mark-down-reference" | prepend: site.baseurl }}">Mark down reference</a> <small>(13 Jul 2016)</small><br>
  <i class="pe-angle-double-right"></i> <a href="{{ "/blog/2016/07/12/the-blog-was-born" | prepend: site.baseurl }}">The blog was born</a> <small>(12 Jul 2016)</small><br>
  <i class="pe-angle-double-right"></i> <a href="{{ "/blog/2016/07/06/the-first-setup" | prepend: site.baseurl }}">The first setup</a> <small>(06 Jul 2016)</small><br>
</p>
