
<section class="container">

  <h2>Member profile at a glance</h2>
  <p>Charts below summarise the profile of our members from the helicopter view. Please let us know if you would like to get more details on some speific targt groups, and we will be ale to help providing such information to you right away.</p>

  <div class="row">

    {% for entry in site.data.charts %}
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 chart">
      <h4>{{ entry.title }}</h4>
      <div id="chart_{{ entry.slug }}"></div>
    </div>
    {% endfor %}

  </div>

  {% include 0-base/alert.html type = "info" close = true intro = "note" msg = "If you are our existing clients, you can see more detail of these by running several cross-tabs by yourself once you have logged-in to your dashboard. And for those who you are not our clients, you can contact us for more detail on our panel profile." %}

</section>
