
<section class="container">

  <h2>Member profile at a glance</h2>
  <p>Charts below summarise the profile of our members from the helicopter view. Please let us know if you would like to get more details on some speific targt groups, and we will be ale to help providing such information to you right away.</p>
  <br>

  <div class="row">

		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 text-center">
      <h4>Gender</h4>
			<p><img src="http://placehold.it/250x250"></p>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 text-center">
      <h4>Age</h4>
      <p><img src="http://placehold.it/250x250"></p>
    </div>

		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 text-center">
      <h4>Region</h4>
      <p><img src="http://placehold.it/250x250"></p>
    </div>

		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 text-center">
      <h4>Occupation</h4>
      <p><img src="http://placehold.it/250x250"></p>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 text-center">
      <h4>Device use</h4>
      <p><img src="http://placehold.it/250x250"></p>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 text-center">
      <h4>Apps used daily</h4>
      <p><img src="http://placehold.it/250x250"></p>
    </div>

  </div>

  <p>Do you want to see more in details? If yes, please click <a class="button" href="{{ "/contact/" | prepend: site.baseurl }}" role="button">contact us <i class="pe-envelope-o pe-fw"></i></a></p>
  <p>If you are our existing clients, you will be able to run several cross-tabs on this data by yourself. Just simply <a href="{{ "/login" | prepend: site.domains.client }}">login to your account</a></p>

</section>
