
<section class="container why">

  <h2>Join our membership, <strong class="indigo">it's free!</strong></h2>
  <p>Because we value your opinions. And below are the key benefits why you would want to join our membership program. At this moment, joining th membership program has been made available for free, but it will be for a limited time. So hurry up before it's too late!</p>
  <br>

  <div class="row">

    {% for entry in site.data.why.members %}
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <p><i class="pe-{{ entry.icon }} pe-2x pe-why"></i></p>
      <h4>{{ entry.title }}</h4>
      <p>{{ entry.description }}</p>
    </div>
    {% endfor %}

  </div>

  <p class="text-right"><a href="{{ "/members/benefits.html" | prepend: site.baseurl }}" class="why-button-x" title="Read more">Read more <i class="pe-map-o pe-fw"></i></a></p>

</section>
