
<section class="container">

  <h2>Why joinin us?</h2>
  <p>Because we value your opinions. And below are the key benefits why you would want to join our membership program.</p>
  <br>

  <div class="row">

		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<p><i class="pe-gift pe-2x"></i></p>
      <h4>On-spot incentive</h4>
			<p>Participating with our surveys to a certain level and claim for incentive right away</p>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<p><i class="pe-diamond pe-2x"></i></p>
      <h4>Point collection</h4>
			<p>Collecting points by completing our surveys for a higher-valued prize redemption</p>
    </div>

		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<p><i class="pe-database pe-2x"></i></p>
      <h4>Secure database</h4>
			<p>User info is stored on our highly secured database server located outside the Cloud</p>
    </div>

		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<p><i class="pe-cloud-download pe-2x"></i></p>
      <h4>App download is optional</h4>
			<p>Survey participation can be done either with or without installing a mobile app</p>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<p><i class="pe-laptop pe-2x"></i></p>
      <h4>Optimised for multi-device</h4>
			<p>Members can access surveys with different devices (mobile, tablet, or computer)</p>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<p><i class="pe-shield pe-2x"></i></p>
      <h4>No ads no spams</h4>
			<p>We focus on high quality surveys so they do not contain any hidden ads, spams, junks</p>
    </div>

  </div>

  <p class="text-right"><a href="{{ "/members/benefits.html" | prepend: site.baseurl }}" class="button-x">Read more <i class="pe-map-o"></i></a></p>

</section>
