<section class="container registration">
  <h2>We are a legally registered company</h2>
  <p>You can click at these documents in order to view a larger version.</p>

  <div class="row">
    <div class="col-xs-4 col-xs-offset-2 col-sm-4 col-sm-offset-2 col-md-4 col-md-offset-2 col-lg-4 col-lg-offset-2">
      <a class="modal-link" data-toggle="modal" data-target="#RA" data-keyboard="true"><img class="img-thumbnail" src="{{ "/assets/img/registration/RAs.png" | prepend: site.baseurl }}"></a>
      <div class="modal fade" id="RA" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-header">
              <a data-dismiss="modal"><i class="pe-times pull-right"></i></a>
              <span class="modal-title">Company registration (front)</span>
            </div>
            <div class="modal-body text-center">
              <img class="img-thumbnail" src="{{ "/assets/img/registration/RA.png" | prepend: site.baseurl }}">
            </div>
            <!-- <div class="modal-footer">
              <button class="button-x" data-dismiss="modal">Close</button>
            </div> -->
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <a class="modal-link" data-toggle="modal" data-target="#RB" data-keyboard="true"><img class="img-thumbnail" src="{{ "/assets/img/registration/RBs.png" | prepend: site.baseurl }}"></a>
      <div class="modal fade" id="RB" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-header">
              <a data-dismiss="modal"><i class="pe-times pull-right"></i></a>
              <span class="modal-title">Company registration (back)</span>
            </div>
            <div class="modal-body text-center">
              <img class="img-thumbnail" src="{{ "/assets/img/registration/RB.png" | prepend: site.baseurl }}">
            </div>
            <!-- <div class="modal-footer">
              <button class="button-x" data-dismiss="modal">Close</button>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
