---
layout: main-en
title: "Clients"
section: clients
permalink: /clients/
homepage: false
---

{% include 4-clients/intro.html %}

<br><br><br>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" align="center">
      <p><i class="pe-graduation-cap pe-4x"></i></p>
      <h3>Who we are</h3>
      <p>We are a revolutionary market research company based in Thailand with an intention to help clients changing the way they generate consumer insights.</p>
      <p>To cope with the fast-changing world, consumer insights are required to be more accurate and more responsive so the business decisions can be made quicker.</p>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" align="center">
      <p><i class="pe-pencil-square-o pe-4x"></i></p>
      <h3>What we do</h3>
      <p>We provide a complete online system so clients can access their works at anytime from anywhere in the world. It includes everything from project setup to result analysis.</p>
      <p>Data collection is conducted with our own mobile panel (which we have spent years in development) ensuring accurate esults will be available in days, not weeks or months.</p>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" align="center">
      <p><i class="pe-briefcase pe-4x"></i></p>
      <h3>Why work with us</h3>
      <p>xxx.</p>
      <p>xxx.</p>
    </div>
  </div>
</div>

<br>

{% include 1-home/slideshow.html %}

<br>

<div class="container">
  {% include 4-clients/why-clients.html %}
</div>

<br>

{% include 4-clients/testimonials.html %}

<br>
