---
layout: main-en
title: Contact us
navigation_weight: 1
---

<div class="container">
  <h1>Contact us</h1>
  {% include contactform.html %}
</div>

<hr>

<section class="intro">
  <img src="images/2.jpg" class="img-responsive center-block">
  <div class="intro-text">
    <h2>Say goodbye to traditional market research.</h2>
    <p class="lead">Consumer behaviour changes too quickly and this is where traditional research fails to keep pace. After waiting for months for get </p>
  </div>
</section>

<hr>

<div class="container">
  {% include map.html %}
</div>
