
<h2>Need more information?</h2>

<p>You can send us a direct question using the below form. We typically get back to you within 1-2 business days.</p>

<br>

<div class="row">

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="center">

    <form class="contact-form">

      <div class="input-group">
        <input type="text">
        <label>Your Full Name</label>
      </div>

      <div class="input-group">
        <input type="email">
        <label>Your Email Address</label>
      </div>

      <input type="submit">
    </form>

  </div>

</div>
