
<h2>Map</h2>

<p>Our office is located right in the heart of Bangkok central business distrcit (CBD).</p>

<br>

<div class="row">

  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" align="center">
    <div id="map"></div>
  </div>

  <div class="col-xs-0 col-sm-0 col-md-4 col-lg-4">

    <h3>{{site.title}}</h3>

    <p>{% include logo.html %}</p>

    <address>

      <p><i class="pe-building pe-fw"></i>
        Glory House, 5th Floor, 129 Rama IX Road.<br>
        Bangkok, 10310, THAILAND.
      </p>

      <p><i class="pe-clock-o pe-fw"></i> Business hours: 09:00-18:00 (weekdays)</p>
      <p><i class="pe-phone pe-fw"></i> Tel: 0-2246-1633</p>
      <p><i class="pe-fax pe-fw"></i> Fax: 0-2246-1630</p>
      <p><i class="pe-envelope-o pe-fw"></i> Email: <a href="mailto:support@pebinary.com">support@pebinary.com</a></p>
      <p><i class="pe-globe pe-fw"></i> Website: <a href="http://www.pebinary.com">http://www.pebinary.com</a></p>

    </address>

  </div>

</div>
