
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="http://www.pebinary.com"><i class="pe-home pe-fw"></i> Home</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="pe-cube"></i> Our offers <i class="pe-caret-down"></i></a>
          <ul class="dropdown-menu">
            <li><a href="http://www.pebinary.com/product/A"><i class="pe-magnet pe-fw"></i> Poduct A</a></li>
            <li><a href="http://www.pebinary.com/product/B"><i class="pe-magnet pe-fw"></i> Poduct B</a></li>
            <li><a href="http://www.pebinary.com/product/C"><i class="pe-magnet pe-fw"></i> Poduct C</a></li>
            <li><a href="http://www.pebinary.com/product/D"><i class="pe-magnet pe-fw"></i> Poduct D</a></li>
            <li><a href="http://www.pebinary.com/product/E"><i class="pe-magnet pe-fw"></i> Poduct E</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="https://itunes.apple.com/en/app/"><i class="pe-cloud-download pe-fw"></i> Get the app</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="pe-user"></i> Member zone <i class="pe-caret-down"></i></a>
          <ul class="dropdown-menu">
            <li><a href="http://www.pebinary.com/members/"><i class="pe-thumbs-o-up pe-fw"></i> Member benefits</a></li>
            <li><a href="http://www.pebinary.com/members/"><i class="pe-diamond pe-fw"></i> Reward program</a></li>
            <li><a href="http://www.pebinary.com/members/"><i class="pe-file-text-o pe-fw"></i> Member manual</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="http://wwww.siamsquare.org/sign-up"><i class="pe-user-plus pe-fw"></i> Create an account</a></li>
            <li><a href="http://wwww.siamsquare.org/login"><i class="pe-sign-in pe-fw"></i> Sign-in</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="pe-briefcase"></i> Client zone <i class="pe-caret-down"></i></a>
          <ul class="dropdown-menu">
            <li><a href="http://www.pebinary.com/clients/"><i class="pe-thumbs-o-up pe-fw"></i> Client benefits</a></li>
            <li><a href="http://www.pebinary.com/clients/"><i class="pe-commenting-o pe-fw"></i> Testimonial</a></li>
            <li><a href="http://www.pebinary.com/clients/"><i class="pe-file-text-o pe-fw"></i> Client manual</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="http://wwww.binary.in.th/login"><i class="pe-sign-in pe-fw"></i> Sign-in</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="pe-info-circle"></i> Help <i class="pe-caret-down"></i></a>
          <ul class="dropdown-menu">
            <li><a href="#"><i class="pe-building pe-fw"></i> Our office</a></li>
            <li><a href="#"><i class="pe-map-marker pe-fw"></i> Map</a></li>
            <li><a href="#"><i class="pe-university pe-fw"></i> Knowledge library</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
