
<h2>Company stamp</h2>

<p>Two choices of the company stamp design.</p>

<br>

<div class="row">

  <h4>ตราประทับบริษัทแบบที่ 1</h4>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 colorfiller1" align="center">
    <p class="stamp1">บริษัท พีอี ไบนารี่ จำกัด</p>
    <h1>{% include logo.html %}</h1>
    <p class="stamp2">PE Binary Co., Ltd.</p>
  </div>

  <h4>ตราประทับบริษัทแบบที่ 2</h4>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 colorfiller1" align="center">
    <p class="stamp1">บริษัท พีอี ไบนารี่ จำกัด</p>
    <h1><span class="logo4"><i class="pe-logo"></i></span> <span class="logo5">pe</span><span class="logo6">b</span></h1>
    <p class="stamp2">PE Binary Co., Ltd.</p>
  </div>

</div>
