---
title: "Sitemap"
section: about
permalink: /about/sitemap.html
---

<section class="container sitemap">

  <h2>Sitemap</h2>

  {% capture stack %}{% include 0-base/stack.html icon = "sitemap" shape = "square-o" size = "3" title = page.title position = "pull-right" %}{% endcapture %}{{ stack | rstrip }}

  <h3>Main</h3>
  {% include 0-base/pagelist.html section = null %}

  <h3>Products</h3>
  {% include 0-base/pagelist.html section = "products" %}

  <h3>Clients</h3>
  {% include 0-base/pagelist.html section = "clients" %}

  <h3>Members</h3>
  {% include 0-base/pagelist.html section = "members" %}

  <h3>About us</h3>
  {% include 0-base/pagelist.html section = "about" %}

  <h3>Contact</h3>
  {% include 0-base/pagelist.html section = "contact" %}

  <h3>Weblog (Blog)</h3>
  <h4>Blog &middot; pages</h4>
  {% include 0-base/pagelist.html section = "blog" %}
  <h4>Blog &middot; written posts</h4>
  {% include 0-base/postlist.html %}

</section>
