@charset "UTF-8";

html, body {
  height: 100%;
  max-height: 100%;
}

body, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, hr, dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

body {
  // font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  // color: $text-color;
  // background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
}

body, dl, ol, p, ul {
  text-rendering: geometricPrecision;
}

dl dd, dl dt {
  margin-bottom: 1em;
}

body, li li {
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre,
ul, ol, dl, figure, %vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: $base-font-weight;
}

article, aside, footer, header, hr, nav, section {
  display: block;
}

hr {
  border: 0;
  padding: 0;
  margin-top: 20px;
  // margin-bottom: 20px;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 1px;
  border-top: #EFEFEF 1px solid;
  margin: 3.2em 0;
}

img {
  border: 0;
  max-width: 100%;
  vertical-align: middle;
  height: auto;
}

figure {
  margin: 1em 40px;
}

figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}

ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

// a {
//   color: $brand-color;
//   text-decoration: none;
//   background-color: transparent;
//
//   &:visited {
//     color: darken($brand-color, 15%);
//   }
//
//   &:hover {
//     color: $text-color;
//     text-decoration: underline;
//   }
// }
//
// blockquote {
//   color: $grey-color;
//   border-left: 4px solid $grey-color-light;
//   padding-left: $spacing-unit / 2;
//   font-size: 18px;
//   letter-spacing: -1px;
//   font-style: italic;
//
//   > :last-child {
//     margin-bottom: 0;
//   }
// }

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

pre, code {
  font-size: 15px;
  border: 1px solid $grey-color-light;
  border-radius: 3px;
  background-color: #eef;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

mark {
  background-color: #fdffb6;
  background: #ff0;
  color: #000;
}

kbd {
  margin-bottom: .4em;
  padding: 1px 8px;
  border: 1px solid #CCC;
  color: #666;
  text-shadow: #FFF 0 1px 0;
  font-weight: 700;
  background: #F4F4F4;
  border-radius: 4px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, .2), 0 1px 0 0 #fff inset;
}

abbr[title] {
  border-bottom: 1px dotted;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}


%clearfix {

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}

@media only screen and (max-width:900px) {
  blockquote {
    margin-left: 0
  }

  hr {
    margin: 2.4em 0
  }

  ol, ul {
    padding-left: 2em
  }

  h1 {
    font-size: 4.5rem;
    text-indent: -2px
  }

  h2 {
    font-size: 3.6rem
  }

  h3 {
    font-size: 3.1rem
  }

  h4 {
    font-size: 2.5rem
  }

  h5 {
    font-size: 2.2rem
  }

  h6 {
    font-size: 1.8rem
  }
}

@media only screen and (max-width:500px) {
  hr {
    margin: 1.75em 0
  }

  dl, ol, p, ul {
    font-size: .95em;
    margin: 0 0 2.5rem
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 0 0 .3em
  }

  h1 {
    font-size: 2.8rem;
    letter-spacing: -1px
  }

  h2 {
    font-size: 2.4rem;
    letter-spacing: 0
  }

  h3 {
    font-size: 2.1rem
  }

  h4 {
    font-size: 1.9rem
  }

  h5, h6 {
    font-size: 1.8rem
  }
}
