.contact-form input {
  font-family: "boon";
  font-size: 1.6rem;
  background: none;
  border: solid 2px #21a1e1;
  color: #21a1e1;
  padding: 15px 40px;
  display: inline-block;
}

.contact-form input:focus, input:active {
  outline: none;
}

.contact-form input[type="text"], input[type="email"] {
  border: none;
  border-bottom: solid 2px #21a1e1;
}

.contact-form input[type="submit"]:active {
  color: white;
  background: #21a1e1;
}

.contact-form .input-group {
  display: inline-block;
  margin-right: 20px;
  position: relative;
}

.contact-form .input-group input {
  padding: 15px 0px;
}

.contact-form .input-group label {
  font-family: "boon";
  font-size: 1.6rem;
  font-style: oblique;;
  color: #777777;
  position: absolute;
  top: 50%;
  left: 0px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  pointer-events: none;
  -webkit-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
}

.contact-form .input-group input:focus + label,
.contact-form .input-group input.has-value + label {
  top: -10px;
  font-size: 1.3rem;
  font-weight: 300;
  color: #AAAAAA;
}
