---
layout: main-en
title: "About us"
section: about
permalink: /about/
homepage: false
---

{% include 5-about/intro.html %}

{% include 6-contact/contactform.html %}

{% include 6-contact/map.html %}

<section class="container vision">

  <h2>We are a fully registered company</h2>
  <p></p>
  <br>

  <p>

    <a style="cursor: pointer" onclick=" window.open('/assets/img/r/RA.png','Company Registration Front','scrollbars=no,menubar=no,width=509,height=700,resizable=no,toolbar=no,location=no,status=no')"><img src="/assets/img/r/RAs.png"></a>
    &nbsp;&nbsp;
    <a style="cursor: pointer" onclick=" window.open('/assets/img/r/RB.png','Company Registration Front','scrollbars=no,menubar=no,width=509,height=700,resizable=no,toolbar=no,location=no,status=no')"><img src="/assets/img/r/RBs.png"></a>

  </p>

</section>
