
<section class="intro">
  <img src="{{ "/assets/img/1.jpg" | prepend: site.baseurl }}" class="img-responsive center-block">
  <div class="intro-text">
    <h2>Research results within a week<sup id="fnref:1"><a href="#fn:1" class="footnote">1</a></sup></h2>
    <p class="lead">The world changes quickly, generating consumer insights in months is no longer acceptable. We typically deliver survey results within one week<sup id="fnref:2"><a href="#fn:2" class="footnote">2</a></sup>, not months.</p>
  </div>
  <div class="container">
    <p class="text-right note"><i class="pe-sticky-note-o pe-fw"></i> Note: Based on 15-minute survey among general population <sup id="fn:1"><a href="#fnref:1" class="reversefootnote">&#8617; 1</a></sup> <sup id="fn:2"><a href="#fnref:2" class="reversefootnote">&#8617; 2</a></sup></p>
  </div>
</section>
