
<section class="intro">
  <img src="{{ "/assets/img/1.jpg" | prepend: site.baseurl }}" class="img-responsive center-block">
  <div class="intro-text">
    <h2>Research results within a week<sup id="fnref:1"><a href="#fn:1" class="footnote">1</a></sup></h2>
    <p>The world changes quickly, it is no longer acceptable to take months for generating consumer insights.
       We typically deliver survey results within one week<sup id="fnref:2"><a href="#fn:2" class="footnote">2</a></sup>, not months.
    </p>
  </div>
  <div class="container">
    <p class="text-right note"><i class="pe-asterisk pe-fw"></i> Based on a <span class="hidden-xs hidden-sm">standard</span> 15-minute survey among general population <span class="hidden-xs hidden-sm">in our panel</span> <sup id="fn:1"><a href="#fnref:1" class="reversefootnote">&#8617; 1</a></sup> <sup id="fn:2"><a href="#fnref:2" class="reversefootnote">&#8617; 2</a></sup></p>
  </div>
</section>
