
<section class="landing">
  <img src="{{ "/assets/img/carousel/c7.jpg" | prepend: site.baseurl }}" class="img-responsive landing-img">
  <div class="row landing-headline">
    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 landing-text">
      <h2>We only need days to deliver you the consumer insights</h2>
      <p class="lead">As the world now changes very quickly so waiting for months to get basic consumer insights is no longer acceptable. We can deliver you survey results within days.</p>
    </div>
    <div class="hidden-xs hidden-sm col-md-5 col-lg-5 landing-form">
      <form class="form" role="form" method="post" action="#" accept-charset="utf-8">
        <div class="input-group">
          <span class="input-group-addon"><i class="pe-envelope-o pe-fw"></i></span>
          <input type="text" name="username" class="form-control" placeholder="email@company.com">
        </div>
        <div class="input-group">
          <span class="input-group-addon"><i class="pe-key pe-fw"></i></span>
          <input type="password" name="password" class="form-control" placeholder="Password">
        </div>
        <div class="checkbox">
          <label><input type="checkbox"> Remember me</label>
        </div>
        <!-- <div class="form-group"> -->
        <button type="submit" class="button-x">Sign in</button>
        <!-- </div> -->
      </form>
      <!-- <form class="landing-form-item">
        <div class="input-group">
          <input type="text">
          <label>Your Full Name</label>
        </div>
        <div class="input-group">
          <input type="email">
          <label>Your Email Address</label>
        </div>
        <button type="submit" class="button-lg">submit <i class="pe-check-circle-o"></i></button>
      </form> -->
    </div>
    <div class="col-xs-12 col-sm-12 hidden-md hidden-lg landing-form">
      <button type="submit" class="button-lg">submit <i class="pe-check-circle-o"></i></button>
    </div>
  </div>
</section>
