
<section class="slideshow">

  <div id="slideshow" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#slideshow" data-slide-to="0" class="active"></li>
      <li data-target="#slideshow" data-slide-to="1"></li>
      <li data-target="#slideshow" data-slide-to="2"></li>
      <li data-target="#slideshow" data-slide-to="3"></li>
      <li data-target="#slideshow" data-slide-to="4"></li>
      <li data-target="#slideshow" data-slide-to="5"></li>
      <li data-target="#slideshow" data-slide-to="6"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img class="slide img-responsive" src="{{ "/assets/img/carousel/c1.jpg" | prepend: site.baseurl }}" alt="">
        <div class="container">
          <div class="carousel-caption">
            <h2>Bored of waiting for months to get your survey results?</h2>
            <p>Our core value is to providesurvey results as fast as possible. This will allow you to take quicker business actions in order to win the game.
               Let us partner your business to a greater success!</p>
            <p><a class="button-lg-x" href="{{ "/contact/" | prepend: site.baseurl }}" role="button">contact <span class="hidden-xs hidden-sm">us</span> <i class="pe-envelope-o pe-fw"></i></a></p>
          </div>
        </div>
      </div>
      <div class="item">
        <img class="slide img-responsive" src="{{ "/assets/img/carousel/c2.jpg" | prepend: site.baseurl }}" alt="">
        <div class="container">
          <div class="carousel-caption">
            <h2>Survey data is collected via the mobile platform</h2>
            <p>Due to a very high penetration of mobile phone, plus the ability to connect directly to the person who owns it.
               This gives a great opportunity where we can conduct research and insights can be drawn directly from the target group right away.</p>
            <p><a class="button-lg-x" href="{{ "#" | prepend: site.baseurl }}" role="button"><span class="hidden-xs hidden-sm">View</span> demo <i class="pe-paper-plane-o pe-fw"></i></a></p>
          </div>
        </div>
      </div>
      <div class="item">
        <img class="slide img-responsive" src="{{ "/assets/img/carousel/c3.jpg" | prepend: site.baseurl }}" alt="">
        <div class="container">
          <div class="carousel-caption">
            <h2>It is our job to help you keeping pace with the fast-moving world</h2>
            <p>The market has changed and everything moves in a much faster pace than before. It is important that your business can keep pace with such change.
               We are one of the few market research companies that can provide you what you need to cope with the fast-moving world.</p>
            <p><a class="button-lg" href="{{ "/contact/" | prepend: site.baseurl }}" role="button">contact <span class="hidden-xs hidden-sm">us</span> <i class="pe-envelope-o pe-fw"></i></a></p>
          </div>
        </div>
      </div>
      <div class="item">
        <img class="slide img-responsive" src="{{ "/assets/img/carousel/c4.jpg" | prepend: site.baseurl }}" alt="">
        <div class="container">
          <div class="carousel-caption">
            <h2>Conducting surveys anywhere anytime</h2>
            <p>We spent a lot of efforts on designing the mechanic of our survey to ensure it is very user-friendly.
               Our survey system is also optimised for using with different devices including mobile phone, table, laptop and desktop computer
               - this gives users flexiblity to complete our surveys.</p>
            <p><a class="button-lg-x" href="{{ "/contact/" | prepend: site.baseurl }}" role="button"><span class="hidden-xs hidden-sm">View</span> demo <i class="pe-paper-plane-o pe-fw"></i></a></p>
          </div>
        </div>
      </div>
      <div class="item">
        <img class="slide img-responsive" src="{{ "/assets/img/carousel/c5.jpg" | prepend: site.baseurl }}" alt="">
        <div class="container">
          <div class="carousel-caption">
            <h2>Bored of waiting for months to get your survey results?</h2>
            <p>Our core value is to providesurvey results as fast as possible. This will allow you to take quicker business actions in order to win the game.
               Let us partner your business to a greater success!</p>
            <p><a class="button-lg-x" href="{{ "/contact/" | prepend: site.baseurl }}" role="button">contact <span class="hidden-xs hidden-sm">us</span> <i class="pe-envelope-o pe-fw"></i></a></p>
          </div>
        </div>
      </div>
      <div class="item">
        <img class="slide img-responsive" src="{{ "/assets/img/carousel/c6.jpg" | prepend: site.baseurl }}" alt="">
        <div class="container">
          <div class="carousel-caption">
            <h2>It is our job to help you keeping pace with the fast-moving world</h2>
            <p>The market has changed and everything moves in a much faster pace than before. It is important that your business can keep pace with such change.
               We are one of the few market research companies that can provide you what you need to cope with the fast-moving world.</p>
            <p><a class="button-lg" href="{{ "/contact/" | prepend: site.baseurl }}" role="button">contact <span class="hidden-xs hidden-sm">us</span> <i class="pe-envelope-o pe-fw"></i></a></p>
          </div>
        </div>
      </div>
      <div class="item">
        <img class="slide img-responsive" src="{{ "/assets/img/carousel/c7.jpg" | prepend: site.baseurl }}" alt="">
        <div class="container">
          <div class="carousel-caption">
            <h2>We help you connect directly with your target market</h2>
            <p>Apart from conducting surveys with the target group of your business, we can also help you connecting with them.
               We normally connect with our user base by using modern medium such as sending message via mobile phone notification or giving incentive via QR codes.</p>
            <p><a class="button-lg-x" href="{{ "/contact/" | prepend: site.baseurl }}" role="button">contact <span class="hidden-xs hidden-sm">us</span> <i class="pe-envelope-o pe-fw"></i></a></p>
          </div>
        </div>
      </div>
    </div>
    <a class="left carousel-control" href="#slideshow" role="button" data-slide="prev">
      <i class="pe-chevron-left"></i>
    </a>
    <a class="right carousel-control" href="#slideshow" role="button" data-slide="next">
      <i class="pe-chevron-right"></i>
    </a>
  </div>

</section>
