<section class="slideshow">
  <div id="slideshow" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#slideshow" data-slide-to="0" class="active"></li>
      <li data-target="#slideshow" data-slide-to="1"></li>
      <li data-target="#slideshow" data-slide-to="2"></li>
      <li data-target="#slideshow" data-slide-to="3"></li>
      <li data-target="#slideshow" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      {% for entry in site.data.slideshow %}
      {% if forloop.first %}
      <div class="item active">
      {% else %}
      <div class="item">
      {% endif %}
      {% capture img %}/assets/img/carousel/{{ entry.picture }}{% endcapture %}
        <img class="slide img-responsive" src="{{ img | prepend: site.baseurl }}" alt="{{ entry.title }}">
        <div class="container">
          <div class="carousel-caption">
            <h2>{{ entry.title }}</h2>
            <p>{{ entry.description }}</p>
            <p><a class="{{ entry.button-type }}" href="{{ entry.button-url | prepend: site.baseurl }}" role="button">{{ entry.button }} <i class="pe-{{ entry.button-icon }} pe-fw"></i></a></p>
          </div>
        </div>
      </div>
      {% endfor %}
      <a class="left carousel-control" href="#slideshow" role="button" data-slide="prev"><i class="pe-chevron-left"></i></a>
      <a class="right carousel-control" href="#slideshow" role="button" data-slide="next"><i class="pe-chevron-right"></i></a>
    </div>
  </div>
</section>
