
<section class="slideshow">

  <div id="slideshow" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#slideshow" data-slide-to="0" class="active"></li>
      <li data-target="#slideshow" data-slide-to="1"></li>
      <li data-target="#slideshow" data-slide-to="2"></li>
      <li data-target="#slideshow" data-slide-to="3"></li>
      <li data-target="#slideshow" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img class="slide img-responsive" src="{{ "/assets/img/carousel/c1.jpg" | prepend: site.baseurl }}" alt="">
        <div class="container">
          <div class="carousel-caption">
            <h2>Do you feel bored of waiting for months to get survey results?</h2>
            <p>Our core value is to provide survey results to clients as quickly as possible.
               We understand that time is very important. And we really want to help you making quicker business actions in order to win the game.
               Let us partner your business to a greater success!</p>
            <p><a class="button-lg-x" href="{{ "/contact/" | prepend: site.baseurl }}" role="button">contact <span class="hidden-xs hidden-sm">us</span> <i class="pe-envelope-o pe-fw"></i></a></p>
          </div>
        </div>
      </div>
      <div class="item">
        <img class="slide img-responsive" src="{{ "/assets/img/carousel/c2.jpg" | prepend: site.baseurl }}" alt="">
        <div class="container">
          <div class="carousel-caption">
            <h2>Data collection is conducted on our mobile survey platform</h2>
            <p>Due to a very high penetration of mobile usage and the ability to connect directly to the person who owns it.
               This gives a great opportunity where we can conduct research and insights can be drawn directly from the target group right away.</p>
            <p><a class="button-lg-x" href="{{ "#" | prepend: site.baseurl }}" role="button"><span class="hidden-xs hidden-sm">View</span> demo <i class="pe-paper-plane-o pe-fw"></i></a></p>
          </div>
        </div>
      </div>
      <div class="item">
        <img class="slide img-responsive" src="{{ "/assets/img/carousel/c3.jpg" | prepend: site.baseurl }}" alt="">
        <div class="container">
          <div class="carousel-caption">
            <h2>It is our job to help you keeping pace with the fast-moving world</h2>
            <p>The market has changed and everything moves much quicker than before. It is important that your business can keep pace with such change.
               We are one of the few market research companies who can provide you what you need to cope with the fast-moving world.</p>
            <p><a class="button-lg-x" href="{{ "/contact/" | prepend: site.baseurl }}" role="button">contact <span class="hidden-xs hidden-sm">us</span> <i class="pe-envelope-o pe-fw"></i></a></p>
          </div>
        </div>
      </div>
      <div class="item">
        <img class="slide img-responsive" src="{{ "/assets/img/carousel/c4.jpg" | prepend: site.baseurl }}" alt="">
        <div class="container">
          <div class="carousel-caption">
            <h2>Respodents can conduct our surveys anywhere anytime</h2>
            <p>We spent a lot of efforts on designing the mechanic to ensure our survey is friendly to users.
               It is also designed for viewing from different devices including mobile, tablet, laptop and desktop.
               This gives users the flexiblity to complete the surveys.</p>
            <p><a class="button-lg-x" href="{{ "/contact/" | prepend: site.baseurl }}" role="button"><span class="hidden-xs hidden-sm">View</span> demo <i class="pe-paper-plane-o pe-fw"></i></a></p>
          </div>
        </div>
      </div>
      <div class="item">
        <img class="slide img-responsive" src="{{ "/assets/img/carousel/c5.jpg" | prepend: site.baseurl }}" alt="">
        <div class="container">
          <div class="carousel-caption">
            <h2>Connect directly with your target audiences</h2>
            <p>We help you connecting with your target audiences including those who are very difficult to reach such as consumers who live in rural upcountry.
               As long as they can access to the internet with their mobile phones, we will be able to reach them should we need to.</p>
            <p><a class="button-lg-x" href="{{ "/contact/" | prepend: site.baseurl }}" role="button">contact <span class="hidden-xs hidden-sm">us</span> <i class="pe-envelope-o pe-fw"></i></a></p>
          </div>
        </div>
      </div>
    </div>
    <a class="left carousel-control" href="#slideshow" role="button" data-slide="prev">
      <i class="pe-chevron-left"></i>
    </a>
    <a class="right carousel-control" href="#slideshow" role="button" data-slide="next">
      <i class="pe-chevron-right"></i>
    </a>
  </div>

</section>
