
<section class="container vision">

  <div class="row">

    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center">
      <p><span class="pe-stack pe-3x"><i class="pe-circle pe-stack-2x"></i><i class="pe-star-o pe-stack-1x pe-inverse"></i></span></p>
      <h3>Our vision</h3>
      <p>We are a market research company with a vision to provide consumer insights as quickly as possible allowing business to move quicker ahead of competition</p>
    </div>

    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center">
      <p><span class="pe-stack pe-3x"><i class="pe-circle pe-stack-2x"></i><i class="pe-lightbulb-o pe-stack-1x pe-inverse"></i></span></p>
      <h3>The core idea</h3>
      <p>This can be achieved by minimising time in several key research processes, using automations where possible, an leveraging mobile platform for data collection</p>
    </div>

    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center">
      <p><span class="pe-stack pe-3x"><i class="pe-circle pe-stack-2x"></i><i class="pe-trophy pe-stack-1x pe-inverse"></i></span></p>
      <h3>The ultimate goal</h3>
      <p>With the ability to respond to the market quicker and business decision can be made faster, it creates a competitive advantage against the competition</p>
    </div>

  </div>

  <!-- <p class="text-right"><a href="{{ "/about/" | prepend: site.baseurl }}" class="button-x">Read more <i class="pe-map-o"></i></a></p> -->

</section>
