
<section class="container whoweare">

  <div class="row">

    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center">
      <p><i class="pe-graduation-cap pe-3x"></i></p>
      <h3>Who we are?</h3>
      <p>We are a revolutionary market research company that provides consumer insights in a much faster turnaround time</p>
    </div>

    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center">
      <p><i class="pe-pencil-square-o pe-3x"></i></p>
      <h3>How we do it?</h3>
      <p>With a combination of minimising key research process and collecting data from our panellists via the mobile platform</p>
    </div>

    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center">
      <p><i class="pe-briefcase pe-3x"></i></p>
      <h3>Ultimate benefit</h3>
      <p>This enables a faster business decision to be made leading to a competitive advantage in the fast-moving market</p>
    </div>

  </div>

  <p class="text-right"><a href="{{ "/about/" | prepend: site.baseurl }}" class="button-x">Read more <i class="pe-map-o"></i></a></p>

</section>
