
<section class="container whoweare">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center">
      <p><i class="pe-graduation-cap pe-3x"></i></p>
      <h3>Who we are</h3>
      <p>We are a revolutionary market research company based in Thailand with an intention to help clients changing the way they generate consumer insights.</p>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center">
      <p><i class="pe-pencil-square-o pe-3x"></i></p>
      <h3>What we do</h3>
      <p>We provide a complete online research solution where data is collected from our large mobile panel. From years of development and loads of investment, our mobile panel is finally ready.</p>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center">
      <p><i class="pe-briefcase pe-3x"></i></p>
      <h3>Why work with us</h3>
      <p>We deliver super-fast result so it enables company to make a quick business decision to cope with the fast-moving market.</p>
    </div>
  </div>
  <p class="text-right"><a href="{{ "/about/" | prepend: site.baseurl }}" class="button-x">Read more <i class="pe-map-o"></i></a></p>
</section>
