
<section class="container whoweare">

  <div class="row">

    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center">
      <p><i class="pe-graduation-cap pe-3x"></i></p>
      <h3>Who we are?</h3>
      <p>We are a revolutionary market research company that provides consumer insights in a much faster turnaround time</p>
    </div>

    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center">
      <p><i class="pe-pencil-square-o pe-3x"></i></p>
      <h3>How we do it?</h3>
      <p>From a combination of minimising all research processes and the data collection that is conducted with our mobile platform among our mobile panellists</p>
    </div>

    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center">
      <p><i class="pe-briefcase pe-3x"></i></p>
      <h3>Benefits to clients</h3>
      <p>By enabling a quicker business decision to be made, our clients will simply gain a competitive advantage against competitors</p>
    </div>

  </div>

  <p class="text-right"><a href="{{ "/about/" | prepend: site.baseurl }}" class="button-x">Read more <i class="pe-map-o"></i></a></p>

</section>
