
<section class="container">

  <h2>Why working with us? <small>(from client's point of view)</small></h2>
  <br><br>

  <div class="row">

		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<p><i class="pe-diamond pe-2x"></i></p>
      <h4>Internationalisation</h4>
			<p>Translate sites into multiple languages and limit content to particular countries.</p>
    </div>

		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<p><i class="pe-puzzle-piece pe-2x"></i></p>
      <h4>White Labeling</h4>
			<p>Brand CloudCannon as your own with your own logo, support and documentation links.</p>
    </div>
    <div class="clearfix visible-sm-block"></div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<p><i class="pe-university pe-2x"></i></p>
      <h4>Environments</h4>
			<p>Set up staging sites to test content and easily push to the live site when you’re ready.</p>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<p><i class="pe-pencil-square-o pe-2x"></i></p>
      <h4>Survey engine for mobile/online</h4>
			<p>Restrict public access to all or a portion of your website with accounts or a password.</p>
    </div>

		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<p><i class="pe-user pe-2x"></i></p>
      <h4>Large mobile panel</h4>
			<p>Restrict public access to all or a portion of your website with accounts or a password.</p>
    </div>

		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<p><i class="pe-bar-chart pe-2x"></i></p>
      <h4>Automated reporting system</h4>
			<p>Restrict public access to all or a portion of your website with accounts or a password.</p>
    </div>

  </div>

  <p class="text-right"><a href="#" class="button">Read more <i class="pe-arrow-circle-right"></i></a></p>

</section>
