---
title: Cascading style sheet for printing page
section: null
homepage: false
---

@import '1-tools/vars'

.printing
  color: inherit

  a
    color: lighten($indigo, 20%)
    text-decoration: underline

    &:hover
      color: $indigo

  a.except1
    color: inherit
    text-decoration: none

    &:hover
      color: $blue

  a.except2
    color: lighten($indigo, 20%)
    text-decoration: underline

    &:hover
      color: $indigo
