---
title: "Blog summary by month"
section: "blog"
permalink: /blog/summary.html
fullwidth: false
layout: main
---

<section class="container blog">

  <h2>Blog archived by month</h2>
  <p>Automated script that summarises our weblog (i.e. Blog) into monthly report.</p>

  <div class="row">
    {% if page.fullwidth %}
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 blog-content">
    {% else %}
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 blog-content">
    {% endif %}

      <ul class="bloglisting">
      {% for post in site.posts %}
        {% unless post.next %}
          <h3 class="bloglisting-title">{{ post.date | date: "%B %Y" }}</h3>
        {% else %}
          {% capture year %}{{ post.date | date: '%Y %b' }}{% endcapture %}
          {% capture nyear %}{{ post.next.date | date: '%Y %b' }}{% endcapture %}
          {% if year != nyear %}
          <h3 class="bloglisting-title">{{ post.date | date: "%B %Y" }}</h3>
          {% endif %}
        {% endunless %}
        <li class="bloglisting-item"><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a> - (posted: <time date="{{ post.date | date_to_xmlschema }}">{{ post.date | timeago }}</time>)</li>
      {% endfor %}
      </ul>

    </div>
    {% unless page.fullwidth %}
    <div class="hidden-xs hidden-sm col-md-3 col-lg-3 blog-menu">
{% include 7-blog/highlight.html %}
    </div>
    {% endunless %}
  </div>

</section>
