
<h2>Map</h2>
<p>Our office is located right in the heart of Bangkok central business distrcit (CBD).</p>
<br>

<div class="row">
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" align="center">
    <!-- <img src="/images/map.png" class="img-responsive center-block"> -->
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d968.8446141383849!2d100.57114658805479!3d13.756036202031705!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30e29e8b2a395bcf%3A0xd1ebeeb31500a81b!2zMTI5IOC4nuC4o-C4sOC4o-C4suC4oSA5IEtod2FlbmcgSHVhaSBLaHdhbmcsIEtoZXQgSHVhaSBLaHdhbmcsIEtydW5nIFRoZXAgTWFoYSBOYWtob24gMTAzMTA!5e0!3m2!1sen!2sth!4v1466609444058" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    <br>
  </div>
  <div class="col-xs-0 col-sm-4 col-md-4 col-lg-4">
    <h4 class="black">{% include 0-base/logo.html %}</h4>
    {% include 5-others/address_long.html %}
  </div>
</div>
