          <!-- <p><strong>{{ site.title }}</strong></p> -->

          <p><i class="pe-building pe-fw"></i>
            Glory House, 5th Floor, 129 Rama IX Road.<br>
            Bangkok, 10310, THAILAND
          </p>

          <!-- <p><i class="pe-clock-o pe-fw"></i> Business hours: 09:00-18:00 (weekdays)</p> -->

          <p><i class="pe-volume-control-phone pe-fw"></i> Tel: 0-2246-1633</p>

          <p><i class="pe-fax pe-fw"></i> Fax: 0-2246-1630</p>

          <p><i class="pe-envelope-o pe-fw"></i> Email: <a href="mailto:{{ site.email }}">{{ site.email }}</a></p>

          <!-- <p><i class="pe-globe pe-fw"></i> Website: <a href="{{ site.domains.main-en }}">{{ site.domains.main-en }}</a></p> -->
