
<section class="container map">
  <h2>Banking information</h2>
  <p>Below shows the detailed information on our banking account.</p>
  <br>
  
  <table class="table table-hover">
    <thead>
      <tr class="bg-primary">
        <th>Information</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Account number</td>
        <td><strong>015-3-76960-5</strong></td>
      </tr>
      <tr>
        <td>Account name</td>
        <td><a href="http://www.pebinary.com" title="PE BINARY CO., LTD.">PE BINARY CO., LTD.</a></td>
      </tr>
      <tr>
        <td>Account type</td>
        <td>Current account</td>
      </tr>
      <tr>
        <td>Bank name</td>
        <td><a href="http://www.kasikornbank.com" title="Kasikorn Bank">Kasikorn Bank</a> {% include 0-base/ext.html %}</td>
      </tr>
    <tr>
        <td>Bank branch</td>
        <td><a href="http://www.seaconsquare.com" title="Seacon Square II">Seacon Square II</a> {% include 0-base/ext.html %}</td>
      </tr>
      <tr>
        <td>SWIFT code</td>
        <td><strong>KASITHBK</strong></td>
      </tr>
    </tbody>
  </table>

</section>
