<div id="contactPEB" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <a data-dismiss="modal"><i class="pe-times pull-right"></i></a>
        <span class="modal-title">We <i class="pe-heart"></i> to hear from you</span>
      </div>
      <div class="modal-body contactmodal">
        <form name="commentform" method="post" action="{{ "/email.php" | prepend: site.baseurl }}">
          <div class="form-group has-feedback">
            <label>Name</label> <span class="label indigo">required</span>
            <input type="text" class="form-control" name="name_modal" placeholder="Your name" required>
            <i class="pe-user form-control-feedback"></i>
          </div>
          <div class="form-group has-feedback">
            <label>Email</label> <span class="label indigo">required</span>
            <input type="email" class="form-control" name="email_modal" placeholder="email@company.com" required>
            <i class="pe-envelope-o form-control-feedback"></i>
          </div>
          <div class="form-group has-feedback">
            <label>Message</label> <span class="label indigo">required</span>
            <textarea class="form-control" rows="5" name="message_modal" placeholder="Type your message here. You can type as long as you need." required></textarea>
            <i class="pe-commenting-o form-control-feedback"></i>
          </div>
          <button type="submit" name="submit_modal" class="button-x indigo">send <i class="pe-check-circle-o"></i></button>
        </form>
      </div>
    </div>
  </div>
</div>
