
<section class="container map">
  <h2>Map</h2>
  <p>Our office is located right in the heart of Bangkok central business distrcit (CBD).</p>
  <br>

  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" align="center">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3876.255525438693!2d100.63810554952786!3d13.702967890331847!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x311d6014ec588a57%3A0xb2fd6f8fb7265e5f!2zODgvMjMzIOC4quC4uOC4guC4uOC4oeC4p-C4tOC4lyA3NyBLaHdhZW5nIFN1YW4gTHVhbmcsIEtoZXQgU3VhbiBMdWFuZywgS3J1bmcgVGhlcCBNYWhhIE5ha2hvbiAxMDI1MCwgVGhhaWxhbmQ!5e0!3m2!1sen!2sth!4v1471383145622" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      <br>
    </div>
    <div class="col-xs-0 col-sm-4 col-md-4 col-lg-4">
      <h4 class="black">{% include 0-base/logo.html %}</h4>
      <address>{% include 6-contact/address_long.html %}</address>
    </div>
  </div>
</section>
