
<section class="container testimonials">

  <h2>What clients say about us</h2>
  <p>Below are some of the key highlights on the feedback we have directly received from our clients. Please be noted that all quotes below have been legally permitted to be shared to the public by these respective clients (and their business titles).</p>
  <br>

  <div class="row reference-wrap">
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 reference">
      <div class="reference-person">
        <img class="img-thumbnail pull-right" src="https://placehold.it/100x100" alt="Mr John Doe">
        <h4>Mr John Doe</h4>
        <p class="lightgrey">Marketing Director<br>Interesting Company Limited</p>
        <br class="clear">
        <p>Conducted several studies in the past 6 months</p>
        <blockquote><i class="pe-quote-left"></i> Quisque at auctor metus, mollis dictum ex. Proin non elementum purus. Ut id ante eu sapien faucibus ullamcorper vitae eget est. Phasellus ut facilisis lorem, id tincidunt tortor <i class="pe-quote-right"></i></blockquote>
        <br class="clear">
        <p align="right"><a href="#" class="button-x green">Like it! <i class="pe-thumbs-up pe-fw"></i></a></p>
      </div>
      <p class="like-note">Another 133 people also liked it</p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-5 col-md-offset-1 col-lg-5 col-lg-offset-1 reference">
      <div class="reference-person">
        <img class="img-thumbnail pull-right" src="https://placehold.it/100x100" alt="Mr John Doe">
        <h4>Mr John Doe</h4>
        <p class="lightgrey">Marketing Director<br>Interesting Company Limited</p>
        <br class="clear">
        <p>Conducted several studies in the past 6 months</p>
        <blockquote><i class="pe-quote-left"></i> Quisque at auctor metus, mollis dictum ex. Proin non elementum purus. Ut id ante eu sapien faucibus ullamcorper vitae eget est. Phasellus ut facilisis lorem, id tincidunt tortor <i class="pe-quote-right"></i></blockquote>
        <br class="clear">
        <p align="right"><a href="#" class="button-x green">Like it! <i class="pe-thumbs-up pe-fw"></i></a></p>
      </div>
      <p class="like-note">Another 133 people also liked it</p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 reference">
      <div class="reference-person">
        <img class="img-thumbnail pull-right" src="https://placehold.it/100x100" alt="Mr John Doe">
        <h4>Mr John Doe</h4>
        <p class="lightgrey">Marketing Director<br>Interesting Company Limited</p>
        <br class="clear">
        <p>Conducted several studies in the past 6 months</p>
        <blockquote><i class="pe-quote-left"></i> Quisque at auctor metus, mollis dictum ex. Proin non elementum purus. Ut id ante eu sapien faucibus ullamcorper vitae eget est. Phasellus ut facilisis lorem, id tincidunt tortor <i class="pe-quote-right"></i></blockquote>
        <br class="clear">
        <p align="right"><a href="#" class="button-x green">Like it! <i class="pe-thumbs-up pe-fw"></i></a></p>
      </div>
      <p class="like-note">Another 133 people also liked it</p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-5 col-md-offset-1 col-lg-5 col-lg-offset-1 reference">
      <div class="reference-person">
        <img class="img-thumbnail pull-right" src="https://placehold.it/100x100" alt="Mr John Doe">
        <h4>Mr John Doe</h4>
        <p class="lightgrey">Marketing Director<br>Interesting Company Limited</p>
        <br class="clear">
        <p>Conducted several studies in the past 6 months</p>
        <blockquote><i class="pe-quote-left"></i> Quisque at auctor metus, mollis dictum ex. Proin non elementum purus. Ut id ante eu sapien faucibus ullamcorper vitae eget est. Phasellus ut facilisis lorem, id tincidunt tortor <i class="pe-quote-right"></i></blockquote>
        <br class="clear">
        <p align="right"><a href="#" class="button-x green">Like it! <i class="pe-thumbs-up pe-fw"></i></a></p>
      </div>
      <p class="like-note">Another 133 people also liked it</p>
    </div>
  </div>

  <!-- <p class="text-right"><a href="{{ "/members/benefits.html" | prepend: site.baseurl }}" class="why-button-x">Read more <i class="pe-map-o pe-fw"></i></a></p> -->

</section>
