
<section class="container why">

  <h2>Reasons why clients <i class="pe-heart"></i> us</h2>
  <p>Below are some of the key benefits why our clients love to work with us, another word, why you would want to be our client. Try working with us just once and hopefully we will be able to change your opinions about market research company.</p>
  <br>

  <div class="row">

    {% for entry in site.data.why.clients %}
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <p><i class="pe-{{ entry.icon }} pe-2x pe-why"></i></p>
      <h4>{{ entry.title }}</h4>
      <p>{{ entry.description }}</p>
    </div>
    {% endfor %}

  </div>

  <p class="text-right"><a href="{{ "/clients/benefits.html" | prepend: site.baseurl }}" class="why-button-x" title="Read more">Read more <i class="pe-map-o pe-fw"></i></a></p>
  <div class="text-right note"><i class="pe-asterisk pe-fw"></i> Based on a <span class="hidden-xs hidden-sm">standard</span> 15-minute survey among general population <span class="hidden-xs hidden-sm">in our panel</span> <sup id="fn:3"><a href="#fnref:3" class="reversefootnote">&#8617; 3</a></sup></div>

</section>
