
<section class="container">

  <h2 class="why">Why working with us?</h2>
  <p>Below are some of the key benefits why our clients love to work with us, another word, why you would want to be our client. Try working with us only once and hopefully we will be able to change your opinions about market research company.</p>
  <br>

  <div class="row">

		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 why">
			<p><i class="pe-rocket pe-2x"></i></p>
      <h4>Super-fast result</h4>
			<p>Survey result is typically estimated to be available within 5-7 days after the data collection has begun</p>
    </div>

		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 why">
			<p><i class="pe-money pe-2x"></i></p>
      <h4>Cost effective solution</h4>
			<p>Required budget for using our platform turns out to be significantly less than the traditional research</p>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 why">
			<p><i class="pe-globe pe-2x"></i></p>
      <h4>Wide audience coverage</h4>
			<p>Difficult-to-reach target audiences are included such as consumers living in rural upcountry</p>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 why">
			<p><i class="pe-area-chart pe-2x"></i></p>
      <h4>Output format of choice</h4>
			<p>Results are provided in multiple formats e.g. charts (PPT/PDF), tabulation (XLS), raw data (CSV/DAT)</p>
    </div>

		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 why">
			<p><i class="pe-key pe-2x"></i></p>
      <h4>24/7 access</h4>
			<p>Set up, manage, monitor, or even view the most updated result from anywhere at anytime per your convenience</p>
    </div>

		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 why">
			<p><i class="pe-puzzle-piece pe-2x"></i></p>
      <h4>Customise team permission</h4>
			<p>Assign different access permissions to different team members such as manager, researcher, DP</p>
    </div>

  </div>

  <p class="text-right"><a href="{{ "/clients/benefits.html" | prepend: site.baseurl }}" class="button-x">Read more <i class="pe-map-o"></i></a></p>

</section>
