
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ "/" | prepend: site.baseurl }}"><i class="pe-home pe-fw"></i> Home</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="{{ "/product/" | prepend: site.baseurl }}" class="dropdown-toggle" data-toggle="dropdown" role="button"><i class="pe-cube"></i> Our offers <i class="pe-caret-down"></i></a>
          <ul class="dropdown-menu">
            <li><a href="{{ "/product/A.html" | prepend: site.baseurl }}"><i class="pe-magnet pe-fw"></i> Poduct A</a></li>
            <li><a href="{{ "/product/B.html" | prepend: site.baseurl }}"><i class="pe-magnet pe-fw"></i> Poduct B</a></li>
            <li><a href="{{ "/product/C.html" | prepend: site.baseurl }}"><i class="pe-magnet pe-fw"></i> Poduct C</a></li>
            <li><a href="{{ "/product/D.html" | prepend: site.baseurl }}"><i class="pe-magnet pe-fw"></i> Poduct D</a></li>
            <li><a href="{{ "/product/E.html" | prepend: site.baseurl }}"><i class="pe-magnet pe-fw"></i> Poduct E</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="https://itunes.apple.com/en/app/"><i class="pe-cloud-download pe-fw"></i> Get the app</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="{{ "/members/" | prepend: site.baseurl }}" class="dropdown-toggle" data-toggle="dropdown" role="button"><i class="pe-user"></i> Member zone <i class="pe-caret-down"></i></a>
          <ul class="dropdown-menu">
            <li><a href="{{ "/members/benefits.html" | prepend: site.baseurl }}"><i class="pe-thumbs-o-up pe-fw"></i> Member benefits</a></li>
            <li><a href="{{ "/members/rewards.html" | prepend: site.baseurl }}"><i class="pe-diamond pe-fw"></i> Reward program</a></li>
            <li><a href="{{ "/members/" | prepend: site.domain.support }}"><i class="pe-file-text-o pe-fw"></i> Member manual</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{{ "/signup/" | prepend: site.domain.member }}"><i class="pe-user-plus pe-fw"></i> Create an account</a></li>
            <li><a href="{{ "/login/" | prepend: site.domain.member }}"><i class="pe-sign-in pe-fw"></i> Sign-in</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="{{ "/clients/" | prepend: site.baseurl }}" class="dropdown-toggle" data-toggle="dropdown" role="button"><i class="pe-briefcase"></i> Client zone <i class="pe-caret-down"></i></a>
          <ul class="dropdown-menu">
            <li><a href="{{ "/clients/benefits.html" | prepend: site.baseurl }}"><i class="pe-thumbs-o-up pe-fw"></i> Client benefits</a></li>
            <li><a href="{{ "/clients/voices.html" | prepend: site.baseurl }}"><i class="pe-commenting-o pe-fw"></i> Testimonial</a></li>
            <li><a href="{{ "/clients/" | prepend: site.domain.support }}"><i class="pe-file-text-o pe-fw"></i> Client manual</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{{ "/login/" | prepend: site.domain.client }}"><i class="pe-sign-in pe-fw"></i> Sign-in</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="{{ "/contact/" | prepend: site.baseurl }}" class="dropdown-toggle" data-toggle="dropdown" role="button"><i class="pe-info-circle"></i> Help <i class="pe-caret-down"></i></a>
          <ul class="dropdown-menu">
            <li><a href="{{ "/contact/" | prepend: site.baseurl }}"><i class="pe-envelope-o pe-fw"></i> Contact us</a></li>
            <li><a href="{{ "/contact/map.html" | prepend: site.baseurl }}"><i class="pe-map-marker pe-fw"></i> Map to our office</a></li>
            <li><a href="{{ "/blog/" | prepend: site.baseurl }}"><i class="pe-pencil-square-o pe-fw"></i> Blog</a></li>
            <li><a href="{{ "/" | prepend: site.domain.support }}"><i class="pe-university pe-fw"></i> Knowledge library</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
