
<section>

  <h2>From client's point of view</h2>

  <p>xxxxx.</p>

	<br>

  <div class="row">

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<h4><i class="pe-pencil-square-o pe-lg pe-fw"></i> Survey engine for mobile/online</h4>
			<p>xxx.</p>
    </div>

		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<h4><i class="pe-user pe-lg pe-fw"></i> Large mobile panel</h4>
			<p>xxx.</p>
    </div>

		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<h4><i class="pe-bar-chart pe-lg pe-fw"></i> Automated reporting system</h4>
			<p>Restrict public access to all or a portion of your website with accounts or a password.</p>
    </div>

		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<h4><i class="pe-diamond pe-lg pe-fw"></i> Internationalisation</h4>
			<p>Translate sites into multiple languages and limit content to particular countries.</p>
    </div>

		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<h4><i class="pe-puzzle-piece pe-lg pe-fw"></i> White Labeling</h4>
			<p>Brand CloudCannon as your own with your own logo, support and documentation links.</p>
    </div>

		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<h4><i class="pe-university pe-lg pe-fw"></i> Environments</h4>
			<p>Set up staging sites to test content and easily push to the live site when you’re ready.</p>
    </div>

  </div>

</section>
