
  <!--Load the AJAX API-->
  <script type="text/javascript" src="{{ "/assets/js/chartloader.js" | prepend: site.baseurl }}"></script>
  <script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(gender);
    google.charts.setOnLoadCallback(age);
    google.charts.setOnLoadCallback(region);
    google.charts.setOnLoadCallback(occupation);
    google.charts.setOnLoadCallback(device);
    google.charts.setOnLoadCallback(app);
    {% for entry in site.data.charts %}
    function {{ entry.slug }}() {
      var data = new google.visualization.DataTable();
      data.addColumn('string', '{{ entry.title }}');
      data.addColumn('number', '{{ entry.type }}');
      data.addRows([
      {% for d in entry.data %}
        ['{{ d.label }}', {{ d.result }}],
      ]);
      var {{ entry.chart | downcase }}_options = {
        width: {{ entry.width }},
        height: {{ entry.height }},
        {% if entry.is3D %}is3D: true,{% endif %}
        legend: '{{ entry.legend }}'
      };
      var chart = new google.visualization.{{ entry.chart }}(document.getElementById('chart_{{ entry.slug }}'));
      chart.draw(data, {{ entry.chart | downcase }}_options);
    }
    {% endfor %}
  </script>
