
<br><br>

<footer>
  <div class="footer-1">
    <div class="container">
      <p>switching language <i class="pe-language pe-lg pe-fw"></i></p>
    </div>
  </div>
  <div class="footer-2">
    <div class="container">
      <h4>{% include 0-base/logo.html %}</h4>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          {% include 5-contact/address_short.html %}
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <p>We are a revolutionary market research company based in Thailand with an intention to help clients changing the way they generate consumer insights.</p>
          <p>To cope with the fast-changing world, consumer insights are required to be more accurate and more responsive so the business decisions can be made quicker.</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <p>{{ site.description }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-3">
    <div class="container">
      <ul>
        <li>Copyright <i class="pe-copyright pe-fw"></i> {{ site.time | date:"%Y" }}, <a href="{{ "/" | prepend: site.baseurl }}"><small><span class="black">{% include 0-base/logo.html %}</span></small></a>, All rights reserved.<li>
        <li><i class="pe-lock pe-fw"></i> <a href="{{ "/about/privacy.html" | prepend: site.baseurl }}">Privacy</a><li>
        <li><i class="pe-gavel pe-fw"></i> <a href="{{ "/about/tos.html" | prepend: site.baseurl }}">Terms</a><li>
        <li><i class="pe-sitemap pe-fw"></i> <a href="{{ "/about/sitemap.html" | prepend: site.baseurl }}">Sitemap</a><li>
      </ul>
    </div>
  </div>
</footer>
