
<footer>
  <div class="footer-1">
    <div class="container">
      switching language <i class="pe-language pe-lg pe-fw"></i>
    </div>
  </div>
  <div class="footer-2">
    <div class="container">
      <h4>{% capture logo %}{% include 0-base/logo.html %}{% endcapture %}{{ logo | rstrip }}</h4>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          {% include 6-contact/address_short.html %}
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <p>We are a revolutionary market research company based in Thailand with an intention to help clients changing the way they generate consumer insights.</p>
          <p>To cope with the fast-changing world, consumer insights are required to be more accurate and more responsive so the business decisions can be made quicker.</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <p>{{ site.description }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-3">
    <div class="container">
      <i class="pe-copyright"></i> <span class="hidden-xs hidden-sm">Copyright</span> {{ site.time | date:"%Y" }}&nbsp;
      <a href="{{ "/" | prepend: site.baseurl }}"><span class="black">{% capture logo %}{% include 0-base/logo.html %}{% endcapture %}{{ logo | rstrip }}</span></a>
      <span class="hidden-xs hidden-sm">All rights reserved.</span><br>
      <nav class="footer">
        <ul class="list-inline">
          {% for footer in site.data.navigation.footer %}{% unless footer.disable %}
          <li><a href="{{ footer.url | prepend: site.data.domains.[footer.host] | prepend: site.baseurl }}"><i class="pe-{{ footer.icon }}"></i> <span class="hidden-md hidden-lg">{{ footer.stitle }}</span><span class="hidden-xs hidden-sm">{{ footer.title }}</span></a>&nbsp;</li>
          {% endunless %}{% endfor %}
        </ul>
      </nav>
    </div>
  </div>
</footer>
