
<header>
  <div class="header-1">
    <div class="container">

      <!-- <a class="modal-link button" data-toggle="modal" data-target="#demo"><span class="hidden-xs hidden-sm">View</span> demo <i class="pe-paper-plane-o pe-fw"></i></a> -->
      {% comment %} include 0-base/_demo.html {% endcomment %}
      <a class="button" href="#"><span class="hidden-xs hidden-sm">View</span> demo <i class="pe-paper-plane-o pe-fw"></i></a>
      <a href="{{ "/contact/" | prepend: site.baseurl }}" class="button blue-wiggle">Contact <span class="hidden-xs hidden-sm">us</span> <i class="pe-envelope-o pe-fw"></i></a>
    </div>
  </div>

  <div class="header-2">
    <div class="container">
      <h1><a href="{{ "/" | prepend: site.baseurl }}" title="{{ site.title }}">{% capture logo %}{% include 0-base/logo.html %}{% endcapture %}{{ logo | rstrip }}</a></h1>
      <p class="description">{{ site.description }}</p>
      <p class="thai-name"><a href="{{ "/" | prepend: site.baseurl }}" title="{{ site.title }}">บริษัท พีอี ไบนารี่ จำกัด</a></p>
    </div>
  </div>

  <div class="header-3">
    <div class="container">
      <!-- <p></p> -->
    </div>
  </div>
</header>
