
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {% for entry in site.data.navigation.topnav1 %}
        {% for folder in entry.folders %}
          {% for domain in site.data.domain %}
            {% if folder.host contains domain.name %}
              <a href="{{ folder.url | prepend: domain.host }}" class="navbar-brand"><i class="pe-{{ folder.icon }} pe-fw"></i> {{ folder.title }}</a>
            {% endif %}
          {% endfor %}
        {% endfor %}
      {% endfor %}
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        {% for entry in site.data.navigation.topnav2 %}
          {% for folder in entry.folders %}
          <li class="dropdown">
            <a href="{{ folder.url | prepend: site.baseurl }}"><i class="pe-{{ folder.icon }} pe-fw"></i> {{ folder.title }} <i class="pe-caret-down"></i></a>
            <ul class="dropdown-menu">
              {% for item in folder.items %}
                {% if item.title == "separator" %}
                <li role="separator" class="divider"></li>
                {% elsif item.urlexternal %}
                <li><a href="{{ item.urlexternal | prepend: host }}"><i class="pe-{{ item.icon }} pe-fw"></i> {{ item.title }}</a></li>
                {% else %}
                  {% for domain in site.data.domain %}
                    {% if item.host contains domain.name %}
                      <li><a href="{{ item.url | prepend: domain.host }}"><i class="pe-{{ item.icon }} pe-fw"></i> {{ item.title }}</a></li>
                    {% endif %}
                  {% endfor %}
                {% endif %}
              {% endfor %}
            </ul>
          </li>
          {% endfor %}
        {% endfor %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% for entry in site.data.navigation.topnav3 %}
          {% for folder in entry.folders %}
          <li class="dropdown">
            <a href="{{ folder.url | prepend: site.baseurl }}"><i class="pe-{{ folder.icon }} pe-fw"></i> {{ folder.title }} <i class="pe-caret-down"></i></a>
            <ul class="dropdown-menu">
              {% for item in folder.items %}
                {% if item.title == "separator" %}
                <li role="separator" class="divider"></li>
                {% elsif item.urlexternal %}
                <li><a href="{{ item.urlexternal | prepend: host }}"><i class="pe-{{ item.icon }} pe-fw"></i> {{ item.title }}</a></li>
                {% else %}
                  {% for domain in site.data.domain %}
                    {% if item.host contains domain.name %}
                      <li><a href="{{ item.url | prepend: domain.host }}"><i class="pe-{{ item.icon }} pe-fw"></i> {{ item.title }}</a></li>
                    {% endif %}
                  {% endfor %}
                {% endif %}
              {% endfor %}
            </ul>
          </li>
          {% endfor %}
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
