---
layout: main-en
---

<div class="container">
  <div class="row">
    {% if page.quote %}
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 blog-content">
    {% else %}
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 blog-content">
    {% endif %}
      <article class="post" itemscope="" itemtype="http://schema.org/BlogPosting">
        <meta itemprop="keywords" content="{{ pages.tags | join: ',' }}" />
        <meta itemprop="description" content="{{ content | strip_html | truncatewords: 40 }}" />
        <header class="post-header">
          <h2 class="post-title" itemprop="headline">{{ page.title }}</h2>
          <p class="post-meta">
            <i class="pe-pencil-square-o pe-fw"></i> Written by:
            <span itemprop="author" itemscope="" itemtype="http://schema.org/Person">
              <span itemprop="name"><strong>{{ page.author }}</strong></span>
              {% if page.author-email %}<span itemprop="email">(<i class="pe-envelope-o pe-fw"></i> <a href="mailto:{{ page.author-email}}">{{ page.author-email}}</a>)</span>{% endif %}
            </span>
            <br><i class="pe-calendar-o pe-fw"></i> Date: <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%A %-d %b %Y" }}</time> ({{ page.date | timeago }})
            <br><i class="pe-clock-o pe-fw"></i> Time: <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%H:%M %p (GMT %z)" }}</time>
            <br><i class="pe-globe pe-fw"></i> Location: {{ site.timezone }}
            <br>Category:&nbsp;
            {% if page.categories %}
              {% for category in page.categories %}
                <i class="pe-folder-open-o pe-fw"></i> <a href="/blog/category/{{ category | slugify }}">{{ category }}</a>
              {% endfor %}
            {% endif %}
            <br>Tag:&nbsp;
            {% if page.tags %}
              {% for tag in page.tags %}
                <i class="pe-tag pe-fw"></i> <a href="/blog/tag/{{ tag | slugify }}">{{ tag }}</a>
              {% endfor %}
            {% endif %}
          </p>
        </header>
        <div class="post-content" itemprop="articleBody">
          {{ content | replace: '<li>[ ]', '<li class="checkbox"><input type="checkbox" disabled><span class="input-label">' | replace: '<li>[x]', '<li class="checkbox"><input type="checkbox" checked disabled><span class="input-label">' | replace: '</li>', '</span></li>' }}
        </div>
        <p class="blog-publisher" itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
           <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
             <!-- <img src="{{ "/assets/img/logo/logo-600x600.png" | prepend: site.baseurl }}" /> -->
             <meta itemprop="url" content="{{ "/assets/img/logo/logo-600x600.png" | prepend: site.baseurl }}">
             <meta itemprop="width" content="600">
             <meta itemprop="height" content="600">
           </div>
           <meta itemprop="name" content="{{ site.title }}">
         </p>
      </article>
    <p class="blog-back"><a href="{{ "/blog/" | prepend: site.baseurl }}" class="button-x"><i class="pe-arrow-circle-left"></i> Back to Blog</a></p>
    </div>
    {% if page.quote %}
    <div class="hidden-xs hidden-sm col-md-3 col-lg-3 blog-menu">
      <aside class="blog-quote">
        <div class="blog-quote-item">
          <blockquote><i class="pe-quote-left"></i> {{ page.quote }} <i class="pe-quote-right"></i></blockquote>
        </div>
      </aside>
    </div>
    {% endif %}
  </div>
</div>
