---
layout: brew
---

<!doctype html>
<html lang="{{ site.locale }}">
<head>
  <meta charset="{{ site.encoding }}">
  <title>{% if page.homepage == true %}{{ page.title }}{% else %}{{ page.title }} &middot; {{ site.title }}{% endif %}</title>
  <link rel="stylesheet" media="all" type="text/css" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" media="all" type="text/css" href="{{ "/assets/css/print.css" | prepend: site.baseurl }}">
</head>

<body>

<br>
<header class="container printing">
<div class="pull-right">[<a href="{{ page.original | prepend: site.baseurl }}" class="except1">Back to full graphic mode <i class="pe-picture-o pe-lg pe-fw"></i></a>]</div>
<div class="small pull-left">
  <i class="pe-print pe-fw"></i> Print version: <strong>{{ page.title }}</strong><br>
  <i class="pe-globe pe-fw"></i> From URL: <a href="{{ page.url | prepend: site.domains.main-en }}" class="except2">{{ page.url | prepend: site.domains.main-en }}</a>
</div>
</header>
<hr>

{{ content }}

<hr>
<p class="text-center small">
<i class="pe-copyright"></i> <span class="hidden-xs hidden-sm">Copyright</span> {{ site.time | date:"%Y" }}&nbsp;
<a href="{{ "/" | prepend: site.baseurl }}"><span class="black">{% capture logo %}{% include 0-base/logo.html %}{% endcapture %}{{ logo | rstrip }}</span></a>
<span class="hidden-xs hidden-sm">All rights reserved.</span>
</p>

</body>
</html>
