<aside class="blog-highlights">
  <h4>Blog highlights</h4>
  <p><q>Some key highlighted blogs providing useful information to clients / members</q></p>
  <p>
    {% for highlight in site.data.blog-highlight-list %}
      <i class="pe-angle-double-right"></i>
      <a href="{{ site.baseurl}}/blog/{{ highlight.datepost}}/{{ highlight.titlepost }}">{{ highlight.title }}</a>
      <small>({{ highlight.date }})</small><br>
    {% endfor %}
  </p>
  <h4>Categories</h4>
  <div class="list-group">
    {% for category in site.categories %}
      {% assign sorted_posts = category[0] | reverse %}
      <a href="/blog/category/#{{ category | first | slugify }}" class="list-group-item">{{ category[0] | replace:'-', ' ' }} <span class="badge">{{ category | last | size }}</span></a>
    {% endfor %}
  </div>
  <h4>Tags</h4>
  <p class="blog-tags">
    {% for tag in site.tags %}
      {% assign sorted_posts = tag[0] | reverse %}
      <i class="pe-tag pe-fw"></i> <a href="/blog/tag/#{{ tag | first | slugify }}">{{ tag[0] | replace:'-', ' ' }}</a> ({{ tag | last | size }})
    {% endfor %}
  </p>
</aside>
